<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todo List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <form #todo="ngForm" (ngSubmit)="addTodo(todo)" novalidate>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" name="item" #item="ngModel" ngModel required></ion-input>
      </ion-item>
      <br/>
      <div>
        <button ion-button secondary type="submit" round>Add Todo</button>
      </div>
    </form>
  </div>
  <div>
    <ion-card *ngFor="let list of todos; let i = index">

      <ion-card-header>
        <span style="float: left"><ion-icon name="close" (click)="deleteTodo(list, i)" ></ion-icon></span>
        <!-- <span style="float: right"> <ion-icon name="bookmark" (click)="isActive(item)" *ngIf="item.isfavourite==true"></ion-icon></span>
  <span style="float: right"> <ion-icon name="ios-bookmark-outline" (click)="isActive(item)"  *ngIf="item.isfavourite==false"></ion-icon></span> -->
      </ion-card-header>

      <ion-card-content>
        {{list.description}}
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>